h1 {
    color: rgb(241, 238, 55);
    background-color: rgb(31, 74, 153);
    border: 5px ridge red;
    width: 400px;
    height: 90px;
}

h2 {
    color: aliceblue;
    background-color: #FF5733;
    border-top: groove blue;
    border-right: dashed yellowgreen;
    border-bottom: double 5px aqua;
    font-family: 'Courier New';
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 80px;
}

p {
    background-color: brown;
    border: 5px outset tan;
    font-family: 'Franklin Gothic Medium';
}